# Python
__pycache__/
*.py[cod]
# *.sqlite3

# Virtual Environment
.venv/

# Django static/media

# VSCode
.vscode/

/media/videos/web.mp4
/logs/about.log
/logs/home.log
/logs/news.log
/logs/news_detail.log
/logs/product.log
/logs/product_detail.log