{% extends 'base.html' %}
{% block content %}
    <div class="relative flex size-full min-h-screen flex-col bg-[#131612] dark group/design-root overflow-x-hidden" style='font-family: Manrope, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-white tracking-light text-[32px] font-bold leading-tight">Our Products</p>
                <p class="text-[#a6b3a2] text-sm font-normal leading-normal">
                  Explore our comprehensive range of military-grade equipment and solutions, designed for reliability and performance in the most demanding environments.
                </p>
              </div>
            </div>
            <div class="flex gap-3 p-3 flex-wrap pr-4">
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#2e352c] pl-4 pr-4">
                <p class="text-white text-sm font-medium leading-normal">All Products</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#2e352c] pl-4 pr-4">
                <p class="text-white text-sm font-medium leading-normal">Vehicles</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#2e352c] pl-4 pr-4">
                <p class="text-white text-sm font-medium leading-normal">Communication Systems</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#2e352c] pl-4 pr-4">
                <p class="text-white text-sm font-medium leading-normal">Protective Gear</p>
              </div>
            </div>

            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              

              {% for item in data %}
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("{{item.image.url}}");'
                >
              </div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">{{item.name}}</p>
                  <p class="text-[#a6b3a2] text-sm font-normal leading-normal">{{item.description}} </p>
                </div>
              </div>
              

             {% endfor %} 

             

                
                

            </div>
          </div>
        </div>
{% endblock content %}
