<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#131612] dark group/design-root overflow-x-hidden" style='font-family: Manrope, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#2e352c] px-10 py-3">
          <div class="flex items-center gap-4 text-white">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24 4H42V17.3333V30.6667H24V44H6V30.6667V17.3333H24V4Z" fill="currentColor"></path>
              </svg>
            </div>
            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">DefenseTech</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-white text-sm font-medium leading-normal" href="#">Products</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Services</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">About</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Contact</a>
            </div>
            <div class="flex gap-2">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#2e352c] text-white text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Request a Quote</span>
              </button>
              <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 bg-[#2e352c] text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
              >
                <div class="text-white" data-icon="MagnifyingGlass" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                    ></path>
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap gap-2 p-4">
              <a class="text-[#a6b3a2] text-base font-medium leading-normal" href="#">Products</a>
              <span class="text-[#a6b3a2] text-base font-medium leading-normal">/</span>
              <span class="text-white text-base font-medium leading-normal">Advanced Combat Rifle</span>
            </div>
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-white tracking-light text-[32px] font-bold leading-tight">Advanced Combat Rifle</p>
                <p class="text-[#a6b3a2] text-sm font-normal leading-normal">
                  The Advanced Combat Rifle (ACR) is a state-of-the-art firearm designed for military and law enforcement applications. It combines cutting-edge technology with
                  rugged durability to deliver unparalleled performance in the most demanding environments.
                </p>
              </div>
            </div>
            <div class="flex w-full grow bg-[#131612] @container p-4">
              <div class="w-full gap-1 overflow-hidden bg-[#131612] @[480px]:gap-2 aspect-[3/2] rounded-xl grid grid-cols-[2fr_1fr_1fr]">
                <div
                  class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-none row-span-2"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBU80bN6X-GJ1z5fWA1pHDMkmvkvX-749gll8ag1XArTficQ_4j5-O35a0-jG9nsBq78DFm062ZkW-wDII5WKj__KikFoGeaGNA8nq6EeM2-hND6RwmC9wNW81ABmELl5e0jHqC0ECM00IJVWRNFahht9oz2raT9fN2GOenkMMVsF_tVZaAEBkXM0rr4Yx5tNX0sJYX0zp6iCQ7-f3WQCY2JxGdjGYrimbkSt2tElycv7s5r_MKjDjaBl8ULZTffjwqw39WWEETEuA");'
                ></div>
                <div
                  class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-none col-span-2"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAQVSkRsWJ0aBfV0iKmzjw4PkGDAbHNdO8rK-j81mCxi1BSRHM_7yOG50kPN1F5uHgUi332YQI4He_O-VTl1-fivAYy1-1EpZzwulS_tw4SdkZepJPF9hxIGIZdFKu3NipAl07iaKVHAVk0WJojQc4o8QtRVpAaQM58BMjVihTtlxqjitOci8MGe-gt-kOYv-H7RHAjo52RZ_Tf_5fjL-8aMRZIfrY7bpODd_tY8I_BTPnOJBE4Zn-V6xrWJOL6pjLLWc99_2R3_Os");'
                ></div>
                <div
                  class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-none col-span-2"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCgEX_dC2CKgqkFwq3Di-FjnZypYU6aewbJhD8Evu7NhtNevRfo6nV9B_ltWyiW4oarMlxNGqj544_A7FZdXT2P-7d7XkQNmkiQH5f1Ug3rNCN2L_i1LKTUpquZJ4FszfAku0Fa--FvU9pWGyTdHLz_MwwJZVdZ4KKS0N-RyfD_GIQzluJi5U8xa3VN0fPeHyaWlwrYcY8BYM_4JY5mAcD19s4bc3NY0bamWHdZYm4u-B_PaGIVOVnqYbhAGTFdGK-GQQUZzIdIgmY");'
                ></div>
              </div>
            </div>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Specifications</h2>
            <div class="p-4 grid grid-cols-2">
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#434f40] py-4 pr-2">
                <p class="text-[#a6b3a2] text-sm font-normal leading-normal">Caliber</p>
                <p class="text-white text-sm font-normal leading-normal">5.56x45mm NATO</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#434f40] py-4 pl-2">
                <p class="text-[#a6b3a2] text-sm font-normal leading-normal">Weight</p>
                <p class="text-white text-sm font-normal leading-normal">7.5 lbs (3.4 kg)</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#434f40] py-4 pr-2">
                <p class="text-[#a6b3a2] text-sm font-normal leading-normal">Length</p>
                <p class="text-white text-sm font-normal leading-normal">36 inches (91 cm)</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#434f40] py-4 pl-2">
                <p class="text-[#a6b3a2] text-sm font-normal leading-normal">Rate of Fire</p>
                <p class="text-white text-sm font-normal leading-normal">700-900 rounds/min</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#434f40] py-4 pr-2">
                <p class="text-[#a6b3a2] text-sm font-normal leading-normal">Effective Range</p>
                <p class="text-white text-sm font-normal leading-normal">500 meters</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#434f40] py-4 pl-2">
                <p class="text-[#a6b3a2] text-sm font-normal leading-normal">Magazine Capacity</p>
                <p class="text-white text-sm font-normal leading-normal">30 rounds</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#434f40] py-4 pr-2">
                <p class="text-[#a6b3a2] text-sm font-normal leading-normal">Operating System</p>
                <p class="text-white text-sm font-normal leading-normal">Gas-operated, rotating bolt</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#434f40] py-4 pl-2">
                <p class="text-[#a6b3a2] text-sm font-normal leading-normal">Safety Features</p>
                <p class="text-white text-sm font-normal leading-normal">Ambidextrous safety selector</p>
              </div>
            </div>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Features</h2>
            <p class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4">
              The ACR boasts a modular design, allowing for easy customization and maintenance. Its advanced gas system reduces recoil, enhancing accuracy and control. The rifle
              also features a free-floating barrel, adjustable stock, and integrated accessory rails for optics and other attachments.
            </p>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Benefits</h2>
            <p class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4">
              The ACR provides superior firepower, accuracy, and reliability, giving operators a decisive advantage in any situation. Its ergonomic design and lightweight
              construction minimize fatigue, while its modularity ensures adaptability to evolving mission requirements.
            </p>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Technical Information</h2>
            <p class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4">
              The ACR is constructed from high-strength materials, including aerospace-grade aluminum and reinforced polymers, ensuring exceptional durability and resistance to
              harsh conditions. Its advanced coating protects against corrosion and wear, extending the rifle's service life.
            </p>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Customer Reviews</h2>
            <div class="flex flex-col gap-8 overflow-x-hidden bg-[#131612] p-4">
            <div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden">
              <div class="flex items-stretch p-4 gap-3">
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-40">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAiYtuFop8mSrtwxCVdR2Bn-szMsx3XW7lKf8HCYF0FAx_nIUF_o8O2eC0rObvLqzfkpBcBwDL6SbzK5ai6tu4OD7-wBB0OMNVZ8Zttf-RDOjuahfODlVIhcLEtE9sCywriEtNloNhu0fPcSsMLxq-jos2vWGrngGnIAWVIVeOYeDBg1DjuMiwb9rSAxGRMTj-1ycRPWX8-hw8fXSrjhnzqOQwS2DC8myYUbQT6Enu5BTX7l-lyLBNa7jJT3sZ354Hkr-Shc34om5Q");'
                  ></div>

                  <div>
                    <p class="text-white text-base font-medium leading-normal">Tactical Gear</p>
                    <p class="text-[#a6b3a2] text-sm font-normal leading-normal">High-performance tactical gear for demanding missions.</p>
                  </div>

                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-40">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBI1CYiCNxVhbFGhGOmgEiiVLuftRjgL2I8SfT4ZouqHpPF-tmgvI06I1LtmsZo3ZqPCtrZGVy0GbYpZSJO7-732dE4rITA5mJKCOpxYKTdghyVnszCNAMmZ0JBduLXCpUHEuHjO2q0D6syYBvgxjR7iewKkjiuysGR2uZ5kptrBpaIEMEC_j5yM9ywjnoYkeGONK-J59XecfCH-DnjSdq-h84CUZBeP61xZCYkHiAqoSMMrAYfar6ncdibHwyrExEa-oNnG40ul3o");'
                  ></div>
                  <div>
                    <p class="text-white text-base font-medium leading-normal">Communication System</p>
                    <p class="text-[#a6b3a2] text-sm font-normal leading-normal">Secure and reliable communication systems for seamless coordination.</p>
                  </div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-40">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCsMsFvKBQwYLxuZ8ZHLrFvazT9N4yYvz0CyqaBQv-qyzYW0h1WOGBMULbabfU67YfcOYjmFFchTMLIYhLHlwG3cZvuuoacObPo9jPXpfyyNmJLFwrpNcbXSDdoIVR7uEf4M_DmJZMWlFS2VjJ6bQuX3yFq32mqKawDlM_M78nnGsEmRiUmiVMnSQx8zyNPTSX-xn7spp-3EMiq28zRY1CKeEZMro6UvIM5jnv3KTxahv9qcba6nAa_p7dze6iZQvf-AL8D9IyrJrc");'
                  ></div>
                  <div>
                    <p class="text-white text-base font-medium leading-normal">Protective Equipment</p>
                    <p class="text-[#a6b3a2] text-sm font-normal leading-normal">Advanced protective equipment to ensure safety in hazardous environments.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-col p-4 gap-3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
