{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="px-4 md:px-40 flex flex-1 justify-center py-10">
  <div class="layout-content-container flex flex-col w-full max-w-[960px] space-y-10">

   
    <p class="text-white tracking-light text-[32px] font-bold leading-tight">
      {{data.0.title}}
    </p>
    <!-- VIDEO (faqat mavjud bo‘lsa) -->
    {% if data.0.video %}
    <div class="w-full aspect-video" data-aos="fade-up">
      <video controls class="w-full h-full object-cover rounded">
        <source src="{{ data.0.video.url }}" type="video/mp4">
        {% blocktrans %}Your browser does not support the video tag.{% endblocktrans %}
        
      </video>
    </div>
    {% endif %}

    <!-- MATN -->
    <div class="text-start" data-aos="fade-up">
      <p class="text-[#a6b3a2] text-0.015em font-normal leading-relaxed mt-3">
        {{data.0.description|linebreaksbr}}
      </p>
    </div>

    <div class="grid grid-cols-1 gap-12 mt-10">
      {% for item in data %}
        {% if not forloop.first %}
          {% if forloop.counter0|divisibleby:2 %}
          <!-- RASM CHAPDA, MATN O‘NGDA -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
            <div data-aos="fade-right">
              {% for img in item.image.all %}
              <img src="{{ img.image.url }}" alt="rasim" class="rounded w-full h-auto">
              {% endfor %}
            </div>
            <div class="flex flex-col gap-3" data-aos="fade-left">
              <h3 class="text-white text-lg font-bold leading-tight">{{ item.title }}</h3>
              <p class="text-[#a6b3a2] text-sm font-normal leading-relaxed">{{ item.description|linebreaksbr }}</p>
            </div>
          </div>
          {% else %}
          <!-- MATN CHAPDA, RASM O‘NGDA -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
            <div class="flex flex-col gap-3" data-aos="fade-right">
              <h3 class="text-white text-lg font-bold leading-tight">{{ item.title }}</h3>
              <p class="text-[#a6b3a2] text-sm font-normal leading-relaxed">{{ item.description|linebreaksbr }}</p>
            </div>
            <div data-aos="fade-left">
              {% for img in item.image.all %}
              <img src="{{ img.image.url }}" alt="rasim" class="rounded w-full h-auto">
              {% endfor %}
            </div>
          </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    
    <!-- SERTIFIKATLAR -->
    <div>
      <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] mb-5" data-aos="fade-up">
        {% blocktrans %}Our Certificates{% endblocktrans %}
      </h2>
      <div class="swiper mySwiper" data-aos="fade-up">
        <div class="swiper-wrapper">
          {% for img in certificate %}
          <div class="swiper-slide p-4 text-center rounded shadow">
            <img src="{{img.image.url}}" class="mx-auto mb-5 w-50 h-auto rounded" alt="sertifikat">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
