{% load i18n %}

<fieldset class="module aligned {{ inline_admin_formset.classes }}">
  <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
  {{ inline_admin_formset.formset.management_form }}

  {% for inline_admin_form in inline_admin_formset %}
    <div class="form-row" style="display: flex; gap: 20px; margin-bottom: 20px;">
      {% for lang in 'uz ru en'.split %}
        <div style="flex: 1; border: 1px solid #ccc; padding: 10px; border-radius: 8px;">
          <h4 style="text-align: center;">{{ lang|upper }}</h4>

          <div style="margin-bottom: 10px;">
            {{ inline_admin_form.form['key_'|add:lang].label_tag }}
            {{ inline_admin_form.form['key_'|add:lang] }}
          </div>

          <div>
            {{ inline_admin_form.form['value_'|add:lang].label_tag }}
            {{ inline_admin_form.form['value_'|add:lang] }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</fieldset>
