<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Public+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#f8fbfa] group/design-root overflow-x-hidden" style='font-family: "Public Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e8f2ec] px-10 py-3">
          <div class="flex items-center gap-4 text-[#0e1a13]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_535)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M47.2426 24L24 47.2426L0.757355 24L24 0.757355L47.2426 24ZM12.2426 21H35.7574L24 9.24264L12.2426 21Z"
                    fill="currentColor"
                  ></path>
                </g>
                <defs>
                  <clipPath id="clip0_6_535"><rect width="48" height="48" fill="white"></rect></clipPath>
                </defs>
              </svg>
            </div>
            <h2 class="text-[#0e1a13] text-lg font-bold leading-tight tracking-[-0.015em]">ShieldTech</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#0e1a13] text-sm font-medium leading-normal" href="#">Products</a>
              <a class="text-[#0e1a13] text-sm font-medium leading-normal" href="#">Technology</a>
              <a class="text-[#0e1a13] text-sm font-medium leading-normal" href="#">About</a>
              <a class="text-[#0e1a13] text-sm font-medium leading-normal" href="#">Contact</a>
            </div>
            <button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#e8f2ec] text-[#0e1a13] text-sm font-bold leading-normal tracking-[0.015em]"
            >
              <span class="truncate">Request a Quote</span>
            </button>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-[#0e1a13] tracking-light text-[32px] font-bold leading-tight min-w-72">About ShieldTech</p></div>
            <p class="text-[#0e1a13] text-base font-normal leading-normal pb-3 pt-1 px-4">
              ShieldTech is a leading manufacturer of military protective equipment, dedicated to providing the highest quality gear to protect those who serve. With a rich history
              of innovation and a commitment to excellence, we strive to exceed the expectations of our customers and ensure their safety in the most demanding environments.
            </p>
            <h2 class="text-[#0e1a13] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Our History</h2>
            <p class="text-[#0e1a13] text-base font-normal leading-normal pb-3 pt-1 px-4">
              Founded in 1985, ShieldTech began as a small workshop focused on crafting durable and reliable protective gear for local law enforcement. Over the years, we have
              grown into a global leader, supplying advanced equipment to military forces worldwide. Our journey has been marked by continuous improvement, driven by feedback from
              the field and a relentless pursuit of technological advancements.
            </p>
            <div class="flex w-full grow bg-[#f8fbfa] @container py-3">
              <div class="w-full gap-1 overflow-hidden bg-[#f8fbfa] @[480px]:gap-2 aspect-[3/2] flex">
                <div
                  class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-none flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuANHvWc0M7i6A3nEC6NiEzFAVRIiTTOhtcL1A39_vSZR33r3ZMINhVoHZg-QQB3SVPi8K1j1r9dbJFj9WTV510yyhZct1_CEFQWCkNCnxuHBRzRXbXso6g6owZXUpXS1zVqV99YrnNi_qFtJ_j0QkwSR-oinCk1NILbjOntvgCDnjB8cZ-BBLS-5pCvv54myXc7MtMLSnY8aOkBQ-0hyA3YC0TzBz4jK50uZiTYKdjdeiHJ7NfN50Rzf0j86krjbDaCuFABtNvEL5k");'
                ></div>
              </div>
            </div>
            <h2 class="text-[#0e1a13] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Our Mission</h2>
            <p class="text-[#0e1a13] text-base font-normal leading-normal pb-3 pt-1 px-4">
              Our mission is to protect those who protect us. We are committed to designing and manufacturing equipment that meets the highest standards of performance,
              reliability, and comfort. By leveraging cutting-edge technology and rigorous testing, we ensure that our products provide unparalleled protection in the face of
              evolving threats.
            </p>
            <h2 class="text-[#0e1a13] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Our Values</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-1 gap-3 rounded-lg border border-[#d1e6d9] bg-[#f8fbfa] p-4 flex-col">
                <div class="text-[#0e1a13]" data-icon="Shield" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M208,40H48A16,16,0,0,0,32,56v58.77c0,89.61,75.82,119.34,91,124.39a15.53,15.53,0,0,0,10,0c15.2-5.05,91-34.78,91-124.39V56A16,16,0,0,0,208,40Zm0,74.79c0,78.42-66.35,104.62-80,109.18-13.53-4.51-80-30.69-80-109.18V56l160,0Z"
                    ></path>
                  </svg>
                </div>
                <div class="flex flex-col gap-1">
                  <h2 class="text-[#0e1a13] text-base font-bold leading-tight">Integrity</h2>
                  <p class="text-[#51946b] text-sm font-normal leading-normal">We uphold the highest ethical standards in all our operations.</p>
                </div>
              </div>
              <div class="flex flex-1 gap-3 rounded-lg border border-[#d1e6d9] bg-[#f8fbfa] p-4 flex-col">
                <div class="text-[#0e1a13]" data-icon="Target" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M221.87,83.16A104.1,104.1,0,1,1,195.67,49l22.67-22.68a8,8,0,0,1,11.32,11.32l-96,96a8,8,0,0,1-11.32-11.32l27.72-27.72a40,40,0,1,0,17.87,31.09,8,8,0,1,1,16-.9,56,56,0,1,1-22.38-41.65L184.3,60.39a87.88,87.88,0,1,0,23.13,29.67,8,8,0,0,1,14.44-6.9Z"
                    ></path>
                  </svg>
                </div>
                <div class="flex flex-col gap-1">
                  <h2 class="text-[#0e1a13] text-base font-bold leading-tight">Innovation</h2>
                  <p class="text-[#51946b] text-sm font-normal leading-normal">We continuously seek new and improved solutions to enhance our products.</p>
                </div>
              </div>
              <div class="flex flex-1 gap-3 rounded-lg border border-[#d1e6d9] bg-[#f8fbfa] p-4 flex-col">
                <div class="text-[#0e1a13]" data-icon="UsersThree" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4ZM190.92,212a8,8,0,1,1-13.84,8,57,57,0,0,0-98.16,0,8,8,0,1,1-13.84-8,72.06,72.06,0,0,1,33.74-29.92,48,48,0,1,1,58.36,0A72.06,72.06,0,0,1,190.92,212ZM128,176a32,32,0,1,0-32-32A32,32,0,0,0,128,176ZM72,120a8,8,0,0,0-8-8A24,24,0,1,1,87.24,82a8,8,0,1,0,15.5-4A40,40,0,1,0,37,117.51,67.94,67.94,0,0,0,9.6,139.19a8,8,0,1,0,12.8,9.61A51.6,51.6,0,0,1,64,128,8,8,0,0,0,72,120Z"
                    ></path>
                  </svg>
                </div>
                <div class="flex flex-col gap-1">
                  <h2 class="text-[#0e1a13] text-base font-bold leading-tight">Customer Focus</h2>
                  <p class="text-[#51946b] text-sm font-normal leading-normal">We prioritize the needs and safety of our customers.</p>
                </div>
              </div>
              <div class="flex flex-1 gap-3 rounded-lg border border-[#d1e6d9] bg-[#f8fbfa] p-4 flex-col">
                <div class="text-[#0e1a13]" data-icon="Handshake" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M119.76,217.94A8,8,0,0,1,112,224a8.13,8.13,0,0,1-2-.24l-32-8a8,8,0,0,1-2.5-1.11l-24-16a8,8,0,1,1,8.88-13.31l22.84,15.23,30.66,7.67A8,8,0,0,1,119.76,217.94Zm132.69-96.46a15.89,15.89,0,0,1-8,9.25l-23.68,11.84-55.08,55.09a8,8,0,0,1-7.6,2.1l-64-16a8.06,8.06,0,0,1-2.71-1.25L35.86,142.87,11.58,130.73a16,16,0,0,1-7.16-21.46L29.27,59.58h0a16,16,0,0,1,21.46-7.16l22.06,11,53-15.14a8,8,0,0,1,4.4,0l53,15.14,22.06-11a16,16,0,0,1,21.46,7.16l24.85,49.69A15.9,15.9,0,0,1,252.45,121.48Zm-46.18,12.94L179.06,80H147.24L104,122c12.66,8.09,32.51,10.32,50.32-7.63a8,8,0,0,1,10.68-.61l34.41,27.57Zm-187.54-18,17.69,8.85L61.27,75.58,43.58,66.73ZM188,152.66l-27.71-22.19c-19.54,16-44.35,18.11-64.91,5a16,16,0,0,1-2.72-24.82.6.6,0,0,1,.08-.08L137.6,67.06,128,64.32,77.58,78.73,50.21,133.46l49.2,35.15,58.14,14.53Zm49.24-36.24L212.42,66.73l-17.69,8.85,24.85,49.69Z"
                    ></path>
                  </svg>
                </div>
                <div class="flex flex-col gap-1">
                  <h2 class="text-[#0e1a13] text-base font-bold leading-tight">Collaboration</h2>
                  <p class="text-[#51946b] text-sm font-normal leading-normal">We work closely with our partners and customers to achieve shared goals.</p>
                </div>
              </div>
            </div>
            <h2 class="text-[#0e1a13] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Our Team</h2>
            <p class="text-[#0e1a13] text-base font-normal leading-normal pb-3 pt-1 px-4">
              Our team comprises experienced engineers, designers, and manufacturing specialists who are passionate about delivering exceptional products. With diverse backgrounds
              and expertise, we collaborate to push the boundaries of protective equipment technology and ensure that every piece of gear meets our stringent quality standards.
            </p>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 text-center pb-3">
                <div class="px-4">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-full"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCRypXXls6wegDKmi6DNRAv1vhl_w2UDYRFLXmPeWz6fB_4F-pcILHm9BvTj4zaXXKJqxhnYv_oycq6TOBFqoBpjEadF1NvSCGSx9gYG89fsEmER1nVi8ce-rPi71TG2UHeYPLiGPaLTOKFUMlFL2ST5pfeVLU8OWNzGNXTYg0mhSXR24sENPblJp8wdXd8voCwZN-EPtTzUjhM-6Oi_VL6r9PPdgoaIN-ad62v37cAjMsktq_BjFtNg0GNZZH6GhbD036LMzSeuDg");'
                  ></div>
                </div>
                <div>
                  <p class="text-[#0e1a13] text-base font-medium leading-normal">Sarah Chen</p>
                  <p class="text-[#51946b] text-sm font-normal leading-normal">CEO</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 text-center pb-3">
                <div class="px-4">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-full"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDGDcGWSogrtCBWgcLYy35LmjL9k2TbmQtDKDWq2bD0h9JboTx-LvGh9yexJAucYVpyUoUPFpucwOy1dAZz2Dk4YPEYHWNxt5R4u_f5p2xxocBJvbZGM3LVALbi8VRjZlOH3G0Di6FBg0WRwi3MneHqo26ewFAl8dJ3Vm8Rmk5zDUUY-WQ8iTFtKcCrHQ2alrVktKlkawKEgvejSnjVax7NxPqxbvD1aiIInjTH9pLz0f6duxzxtGlviJqaNOeWZcSRpsWdn_6VpxU");'
                  ></div>
                </div>
                <div>
                  <p class="text-[#0e1a13] text-base font-medium leading-normal">David Lee</p>
                  <p class="text-[#51946b] text-sm font-normal leading-normal">Head of Engineering</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 text-center pb-3">
                <div class="px-4">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-full"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAyt6Rg1aasjDodjb1ebUmsDrxieWWqBcRMaC5P1DK780KurOBUfBoepyQlHNEyXCQR4YVHi5abyClWETWLyhl1XdN_n5iGcSxXxhNVyms2rOd5XjoqGZx51CPm9943EmMX8YZOqMvdRdZAyiiXxBSgo2Jw2Ag6IhChOcPFp8PCaKonwe8HeOliU-j8WGxn7X3Kpp1nkGusvKNDUiJRvJOG0_6Sw4VJpBuYw-V0Mw2cJMIUdIX37Co1t7oidEXmWnRXqxn3e1zJLzY");'
                  ></div>
                </div>
                <div>
                  <p class="text-[#0e1a13] text-base font-medium leading-normal">Maria Rodriguez</p>
                  <p class="text-[#51946b] text-sm font-normal leading-normal">Director of Operations</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 text-center pb-3">
                <div class="px-4">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-full"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuANtJDEiAJBLIJNUjUonzCQNOcQJ1eT_6JGPs_UJXc0Yms4RKgqcFe8JEFTW_wLL5hQd348_9XxUcsvmucl8QgQsFQ45YdzP0Js5yLajXs0wlmLrUU2tEk2hCrrIDiukB5kjPxdS1jLfgjR0GIYCx-d3UiCxyjNu-Op9Po56WgDgaXKO_EU5-_XIYvBdZ6mbdGrRVpd4v4ljT-jXM8q2dtKdsktM7J0V6Cu87m2Y3OdnF3bmqfqOZ7DS-DippM2-4BdpCn8-Coi9hI");'
                  ></div>
                </div>
                <div>
                  <p class="text-[#0e1a13] text-base font-medium leading-normal">Robert Johnson</p>
                  <p class="text-[#51946b] text-sm font-normal leading-normal">Lead Designer</p>
                </div>
              </div>
            </div>
            <h2 class="text-[#0e1a13] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Contact Us</h2>
            <p class="text-[#0e1a13] text-base font-normal leading-normal pb-3 pt-1 px-4">
              For inquiries, please reach out to us at contact@shieldtech.com or call us at (555) 123-4567. Our headquarters are located at 123 Main Street, Anytown, USA.
            </p>
            <div class="flex px-4 py-3">
              <div
                class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg object-cover"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDyzWmY3jcDdrUbG1BVAwOORVkk4xWGzS8iNm6lHHOZk5sQ24z5qCRGxKgTfgrHsrHA9s-3HtjXr-kEInHHOEiQ2lYkEJnSW7lRwwsT5D9U22pLpm1zsqIjHRje7EzCct_r3pnVQymffTK8TUASqjnsi59gV91CcpYZcWCG845bXGBsGTIdivCPUr7sf5qoU-HvhkCdsAapUTZ9334jggCfQ-S3cSiRbTbGaHR3pGmcOtvTnqCccM5JwKbSgxPzCIV9b2qPMNc1UKE");'
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
