{% extends "base.html" %}

{% block content %}
<div class="px-40 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">News</p></div>
    
    

      <div class="p-4 @container">
        <div class="flex flex-col items-stretch justify-start rounded-xl @xl:flex-row @xl:items-start">
          <div
            class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
            style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBSWGDkL8lqHCRAQQuezJCG2SodCp3S9INs9UuFS_iv8k8zTLA6owy6_YwfW1-YWC4uZxrPCx24Hyz4-JDolxZVOdVVN0pgc_YfRqG7rV7L4O3XRCLBnck6bsHvQ1eH-HzARMeCitnJV-sMBOJP2Rsl2qRJGu37vzazB2iUQ1gCTZrBNaEJGRfREj4CN2qQCf6th_ul_T1ZegfmVyWiJ8P1tnGoXNFNLC0LfliP-v2QYjQi5m0CNsFT-Ifwufxg0b1dVF7wIhYNtZM");'
          ></div>
          <div class="flex w-full min-w-72 grow flex-col items-stretch justify-center gap-1 py-4 @xl:px-4">
            <p class="text-[#a6b3a2] text-sm font-normal leading-normal">Press Release</p>
            <p class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">DefenseTech Announces Strategic Partnership with Global Aerospace Innovators</p>
            <div class="flex items-end gap-3 justify-between">
              <p class="text-[#a6b3a2] text-base font-normal leading-normal">
                DefenseTech, a leading provider of advanced defense solutions, today announced a strategic partnership with Global Aerospace Innovators, a renowned aerospace
                technology company. This collaboration aims to integrate cutting-edge technologies and expertise to develop next-generation defense systems.
              </p>
            </div>
          </div>
        </div>
      </div>


      </div>
    </div>
  </div>
</div>
{% endblock content %}